<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuickTube Downloader | Low Size, High Quality</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="flex flex-col space-y-4">
    <nav
      class="text-3xl bg-red-100 md:text-4xl text-center text-red-500 font-playfair font-semibold py-4 shadow shadow-sm w-full sticky top-0"
    >
      QuickTube Downloader
    </nav>

    <form class="border bg-red-100 mx-5 sm:mx-50 flex border-2 border-red-500 rounded-full">
      <input placeholder="Enter Youtube URL ..." type="text" class="flex-1 p-4 focus:outline-none" />
      <button class="bg-red-500 hover:bg-red-600 rounded-full px-4 md:px-8 text-white md:text-xl md:font-medium">Download</button>
    </form>
  </body>
</html>
