<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QuickTube Downloader | Low Size, High Quality</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="flex flex-col space-y-4 ">
    <h1
      class="text-3xl bg-red-100 md:text-5xl text-center text-red-500 font-playfair font-semibold py-5 shadow shadow-sm w-full"
    >
      QuickTube Downloader
    </h1>

    <form class="bg-red-100 rounded-full flex max-w-4/5 ms-2 md:mx-50">
      <input
        placeholder="Enter youtube url"
        type="text"
        class="text-xl focus:outline-none flex-1 px-4"
      />
      <button
        class="bg-red-500 hover:bg-red-600 cursor-pointer py-2 px-3 text-white text-2xl font-medium rounded-full"
      >
        Download
      </button>
    </form>
  </body>
</html>
